@font-face {
  font-family: "Smiley Sans";
  src: url("../fonts/smiley.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --md-text-font: "Smiley Sans", "Noto Sans SC", sans-serif;
}
